h1 {
  color: green;
  text-align: center;
}

a:hover {
  background-color: yellow;
}

/* .joanna {    
    border-collapse: collapse;
  } */

  table, td, th {
    border: 1px solid black; 
    }

table {
width: 100%;
border-collapse: collapse;
}

HOW TF DO YOU DO THIS
#feedback {
  color: turquoise
}

