h1 {
  color: green;
}

a:hover {
  background-color: yellow;
}

/* .joanna {    
    border-collapse: collapse;
  } */
table, td, th {
    border: 1px solid black; 
    }

table {
width: 100%;
border-collapse: collapse;
}

span.feedback {
  color: turquoise
}

